@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


:root {
    --light-blue: #E6F3FA; 
}

body {
    background-color: rgb(213, 241, 251);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; 
}

h1, 
h2, 
h3,
h4, 
h5 {
    font-weight: 400; 
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
}

.frontpage {
    display: flex;
    align-items: end;
    justify-content: space-around;
}

.frontpage img {
    width: 200px;
    height: 600px;
    object-fit: contain;
}


.frontpage .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frontpage .content img {
    width: 20vw;
    height: 35vh;
}

.frontpage h1 {
    color: black;
    font-size: 50px;
    margin: 0 0 30px 0;
}

.frontpage .frontpage-nav {
    display: flex;
    margin-bottom: 50px;
    gap: 20px;
}

.frontpage a {
    background-color: white; 
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    padding: 20px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    transition: 1s;
    text-decoration: none;
    text-align: center;
}

.frontpage a:hover {
    background-color: rgb(234, 248, 253); 
}

.frontpage .animals {
    display: flex;
}

.frontpage .animals img {
    width: 20%;
    height: 20%;
    object-fit: contain;
}

.back-to-frontpage {
    display: flex; 
    background-color: rgb(241, 251, 255);
    height: 75px;
    width: 75px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 50px 0 0 50px; 
    transition: 1s;
}

.back-to-frontpage:hover {
    background-color: white;
}

.back-to-frontpage a {
    text-decoration: none;
    color: black;
}


.offerings h1, .museum h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 0;
}

.nav {
    width: 100%; 
    display: flex; 
    justify-content: space-evenly;
}

.nav-btn {
    background-color: white; 
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 15%; 
    padding: 20px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    transition: 1s;
    /* border: 2px solid white; */
}

.nav-btn:hover {
    background-color: rgb(234, 248, 253); 
}


.nav-btn.active {
    background-color: rgb(234, 248, 253); 
}

.offerings .altar {
    display: none;
}

.offerings .altar-reward {
    text-align: center;
    margin: 50px 0 80px;
}

.offerings .altar:first-of-type {
    display: block;
}

.offerings .altar-categories {
    display: flex; 
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.offerings .altar-category {
    flex-basis: calc(33% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offerings .category-reward {
    display: flex;
    align-items: center;
    gap: 10px;
}

.offerings .category-reward img {
    height: 50px;
}

.offerings .category-icon {
    width: 100px;
}

.offerings .items {
    width: 100%; 
    margin-bottom: 75px; 
}

.offerings .items div.item:nth-child(odd) {
    background-color: var(--light-blue); 
}

.offerings h5 {
    margin-bottom: 0; 
}

.offerings .item {
    display: flex;
    padding: 5px 15px;
    gap: 10px;
}

.offerings div.item-icons {
    position: relative;
}

.offerings .item .item-icon {
    height: 60px; 
}

.offerings .item .item-quality-icon {
    position: absolute; 
    height: 25px; 
}

.offerings input[type='checkbox'] {
    width: 30px; 
    height: 30px; 
    background-color: white;
    margin-top: 15px;
}   

.offerings .img-title {
    display: flex;
    gap: 10px;
}

.offerings .how-to-find {
    font-size: 13px;
}

.offerings .how-to-find div {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.offerings .how-to-find div p {
    margin: 0;
}

.offerings .how-to-find div p:first-of-type {
    font-weight: 600;
}

.offerings .item-text {
    width: 100%; 
}

.museum .donations {
    display: none;
}

.museum .donations:first-of-type {
    display: flex;
}

.museum .donations {
    flex-wrap: wrap;
    margin: 30px 0;
}

.museum .donations .donation-item {
    flex-basis: 11%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}

.museum .donations .donation-item h5 {
    margin: 5px 0 0 0;
}

.museum .donations .donation-item:nth-child(2n) {
    background-color: var(--light-blue)
}

.museum input[type='checkbox'] {
    width: 30px; 
    height: 30px; 
    background-color: white;
    margin-top: 15px;
}   